In [ ]:
year=int(input("Enter the year for Zodiac sign:"))
if year%12==0:
  print("monkey")
elif year%12==1:
  print("Rooster")
elif year%12==2:
  print("Dog")  
elif year%12==3:
  print("Pig")  
elif year%12==4:
  print("rat")  
elif year%12==5:
  print("ox")  
elif year%12==6:
  print("tiger")  
elif year%12==7:
  print("rabbit")  
elif year%12==8:
  print("dragon")  
elif year%12==9:
  print("snake")  
elif year%12==10:
  print("horse")  
else:
  print("sheep")

Enter the year for Zodiac sign:2012
dragon

In [ ]:
y=int(input("Enter the year for Zodiac sign:"))
yr=y%12
z={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(z[yr])

Enter the year for Zodiac sign:2013
snake

In [ ]:
dist=int(input("Distance to be travel:"))
weight=int(input("Weight of the goods:"))
if dist>=500:
  if weight>=100:
    cost=5*dist
  elif weight>=10 and weight <100:
    cost=6*dist
  else:
    cost=7*dist 
else:
  if weight>=100:
    cost=8*dist
  else:
    cost=5*dist  
print("Amount to be charged:",cost)

Distance to be travel:520
Weight of the goods:50
Amount to be charged: 3120

In [ ]:
k=["Stalls","Circle","UpperClass","box"]
s=input("Type of seat:")
pm=input("Payment mode:")
p="cash"
if pm==p:
  if s in k[0]:
    dis=625*(0.1)
    b=625-dis
  elif s in k[1]:
    dis=750*(0.1)
    b=750-dis
  elif s in k[2]:
    dis=850*(0.1)
    b=850-dis
  else:
    dis=1000*(0.1)
    b=1000-dis
else:
  if s in k[0]:
    dis=625*(0.05)
    b=625-dis
  elif s in k[1]:
    dis=750*(0.05)
    b=750-dis
  elif s in k[2]:
    dis=850*(0.05)
    b=850-dis
  else:
    dis=1000*(0.05)
    b=1000-dis
print(b)

Type of seat:Circle
Payment mode:cash
675.0

In [ ]:
m=int(input("Enter Amount of water:"))
q=m*(100-0)*4184
print("Energy:",q)

Enter Amount of water:100
Energy: 41840000

In [ ]:
m=input("Enter the month:")
w=["December","January","February"]
s=["March","April","May"]
su=["June","July","August"]
a=["September","October","november"]
if m in w:
  print("Winter")
if m in s:
  print("Spring")
elif m in su:
  print("Summer")
elif m in a:
  print("Autumn")

Enter the month:August
Summer

In [ ]:
w=float(input("Enter the weight:"))
h=float(input("Enter the height:"))
w=w*0.45359237
h=h*0.0254
b=w/(h**2)
if b<18.5:
  print("Underweight")
elif b>=18.5 and b<25.0:
  print("Normal")
elif b>=25.0 and b<30.0:
  print("Overweight")
else:
  print("Obese") 
print("BMI is:",b)

Enter the weight:130.5
Enter the height:62
Normal
BMI is: 23.868517206792482

In [3]:
num=int(input("Enter number between 100 and 1000:"))
rem=0
sumdigit=0
if(num>=100 and num<=1000):
    while num > 0:
      rem=num%10
      sumdigit=sumdigit+rem
      num=num//10
print("Sum of all digits in the integer:",sumdigit)

Enter number between 100 and 1000:745
Sum of all digits in the integer: 16

In [ ]:
# Print All Palindrome numbers between 1 to 1000
for num in range(1,1001):
  temp=num
  rev=0
  if(num>=1 and num<=1000):
    while temp > 0:
      rem=temp%10
      rev=(rev*10)+rem
      temp=temp//10
    if num==rev:  
      print(num ,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#Print All Armstrong numbers between 1 to 1000
for num in range(1,1001):
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
  if num==sum:
    print(num,end=" ")

1 153 370 371 407

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz buzz")
  elif i%5==0:
    print("buzz")
  elif i%3==0:
    print("fizz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
Fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
Fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
Fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
Fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
Fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
Fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
#Spider Problem
h=int(input("h:"))
u=int(input("u:"))
d=int(input("d:"))
c=0
while (u-d)*c <=(h-u):
    c=c+1
print(c+1)

h:500
u:20
d:15
98